.book-button {
    margin-right: 8px;
    background-color: #eee;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    width: 60px;
}

.book-main-button {
    margin-left: 2em;
    background-color: #eee;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    width: 60px;
}

.book-header {
    display: flex;
    margin-left: 10px;
    padding: 10px;
}

.book-info-box {
    display: flex;
    gap: 20px;
    margin-top: 3em;
}

.book-image {
    flex: 1;
    /* border: 1px solid #ccc; */
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.book-info {
    flex: 1;
    /* border: 1px solid #ccc; */
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 10px;
}

.book-edit {
    flex: 1;
    /* border: 1px solid #ccc; */
    height: 300px;
}

.book-content {
    border: 2px solid #ccc;
    padding: 10px;
    min-height: 80px;
    width: 80%;
    text-align: left;
    border-radius: 4px;
}

.book-content-box {
    display: flex;
    flex-direction: column;    
    align-items: center;
}